name: Run Telegram Alert Script

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: '0,30 * * * *'  # every 30 minutes UTC

jobs:
  run-alert:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install requests

      - name: Run alert script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
          GITHUB_EVENT_NAME: ${{ github.event_name }}
        run: python AlertInfoProgram.py
