name: Run Telegram Alert Script

on:
  push:
    branches:
      - main        # first push triggers immediate run
  workflow_dispatch:  # manual run
  schedule:
    - cron: '*/30 * * * *'  # every 30 minutes UTC

jobs:
  run-alert:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install beautifulsoup4

      - name: Run Telegram script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
        run: python AlertInfoProgram.py
